<!DOCTYPE html>
<html>
  <head>
    <title>Dedal Parking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Passion+One:700" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" type="text/css">

  </head>
  <body>
    <header>
      <h1><a href="/">D<span class="eda">EDA</span>L <span class="parking">parking</span></a></h1>
      <form action="/logout" method="get">
        <button type="submit" name="update">Logout</button>
      </form>
    </header>
    <div class="container">
      <h1>Update</h1>
      <section class="update">
        <form class="" action="/updateUser" method="post">
          <input style="display: none" type="text" name="id" value={{id}}>
          <label for="name">Name: </label>
          <input type="text" name="name" value={{name}}>
          <label for="phone">Phone: </label>
          <input type="text" name="phone" value={{phone}}>
          <label for="location">Location: </label>
          <select name="location">
            <option value="">Current Loc: {{location}}</option>
            <option value="Tahi - L1 Event Space">Tahi - L1 Event Space</option>
            <option value="Rua - L2 EDA Staff Office">Rua - L2 EDA Staff Office</option>
            <option value="Toru - L2 Room besides Kitchen">Toru - L2 Room besides Kitchen</option>
            <option value="Wha - GL 1st Office">Wha - GL 1st Office</option>
            <option value="Rima - GL 2nd small Office">Rima - GL 2nd small Office</option>
            <option value="Ono - L0 Dark Room">Ono - L0 Dark Room</option>
            <option value="Whitu - L0 Transit Lounge">Whitu - L0 Transit Lounge</option>
            <option value="Waru - L0 Quiet Room">Waru - L0 Quiet Room</option>
            <option value="IWA - L0 Lecture Theatre">IWA - L0 Lecture Theatre</option>
            <option value="Te Kau - L0 Wellbeing Room">Te Kau - L0 Wellbeing Room</option>
          </select>
          <label for="rego">Car Registration Number: </label>
          <input type="text" name="rego" value={{rego}}>
          <br>
          <button type="submit" name="submit">Update</button>
        </form>
    </div>
  </body>
</html>
